h1{
    font-size: 40pt;
    color: #e681ff;

}
body{
    text-align: center;
    font-size: 20pt;
    color: #1f087c;
    font-family: "Itim", cursive;
    background: url('888.webp') no-repeat; 
    background-size: 1840px 1160px;
}
table{
    text-align: left;
    margin: 0 auto;
    width: 700px 400px;
    background:transparent;
    border: 2px solid pink;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px 5px pink;
    border-radius: 10px;
    padding: 40px 40px;
}
button {
    background-color: #3423d0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#box:hover{
    border-color: #083ba8;
    background-color: #fff3a2;
    box-shadow: 0px 0px 5px 5px pink;

}

button:hover {
    background-color: #7f41e9;
    box-shadow: 0px 0px 10px 10px #fffca1;
}
input[type="text"], textarea {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content; 
    min-width: 150px;
    transition: all 0.3s ease-in-out;
}
input[type="file"], textarea {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    min-width: 150px;
    transition: all 0.3s ease-in-out; 
}
input[type="dropdown"], textarea {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    min-width: 150px;
    transition: all 0.3s ease-in-out; 
}

input[type="date"], textarea {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    min-width: 150px;
    transition: all 0.3s ease-in-out;
}

input[type="number"], textarea {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content; 
    min-width: 150px;
    transition: all 0.3s ease-in-out;
}
select, textarea {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content; 
    min-width: 150px; 
    transition: all 0.3s ease-in-out;
}
select:hover, textarea:hover {
    border-color: #083ba8;
    background-color: #fff3a2;
    box-shadow: 0px 0px 5px 5px pink;
}


